In [1]:
# ! pip install pyathena

In [2]:
import boto3
import pandas as pd
import pyathena as pa
import sagemaker

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

In [4]:
# #set private path
# private_path = "s3://{}/ads-508-anime/".format(bucket)
# print(private_path)

In [5]:


# ingest_create_athena_db_passed = False

In [6]:
# %store -r private_path

In [7]:
# try:
#     private_path
# except NameError:
#     print("*****************************************************************************")
#     print("[ERROR] PLEASE RE-RUN THE PREVIOUS COPY TSV TO S3 NOTEBOOK ******************")
#     print("[ERROR] THIS NOTEBOOK WILL NOT RUN PROPERLY. ********************************")
#     print("*****************************************************************************")

In [8]:
# print (private_path)

In [9]:
from pyathena import connect

In [10]:
# Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = "s3://{0}/athena/staging".format(bucket)

In [11]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [12]:
database_name = 'myanimelist'

In [13]:


statement = "CREATE DATABASE IF NOT EXISTS {}".format(database_name)
print(statement)

CREATE DATABASE IF NOT EXISTS myanimelist

In [14]:
pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [15]:
statement = "SHOW DATABASES"

df_show = pd.read_sql(statement, conn)
df_show.head(5)

  database_name
0         anime
1       default
2        dsoaws
3   myanimelist

In [16]:


# if database_name in df_show.values:
#     ingest_create_athena_db_passed = True

In [17]:
# %store ingest_create_athena_db_passed

In [18]:
#create athena table in Glue


import boto3
import sagemaker

sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

In [19]:


# ingest_create_athena_table_tsv_passed = False

In [20]:


# try:
#     ingest_create_athena_db_passed
# except NameError:
#     print("++++++++++++++++++++++++++++++++++++++++++++++")
#     print("[ERROR] YOU HAVE TO RUN ALL PREVIOUS NOTEBOOKS.  You did not create the Athena Database.")
#     print("++++++++++++++++++++++++++++++++++++++++++++++")

In [21]:
# print(ingest_create_athena_db_passed)

In [22]:
database_name = "myanimelist"

In [23]:
pd.read_sql('DROP TABLE myanimelist.animelist', con=conn)

Empty DataFrame
Columns: []
Index: []

In [24]:
# SQL statement to execute
animelist = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         user_id integer,
         anime_id integer,
         rating integer,
         watching_status integer,
         watched_episodes integer
) ROW FORMAT DELIMITED FIELDS TERMINATED BY '\\t' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(
    database_name, 'animelist', 's3://ads-508-anime/animelist'
)

print(animelist)

CREATE EXTERNAL TABLE IF NOT EXISTS myanimelist.animelist(
         user_id integer,
         anime_id integer,
         rating integer,
         watching_status integer,
         watched_episodes integer
) ROW FORMAT DELIMITED FIELDS TERMINATED BY '\t' LINES TERMINATED BY '\n' LOCATION 's3://ads-508-anime/animelist'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')

In [25]:


pd.read_sql(animelist, conn)

Empty DataFrame
Columns: []
Index: []

In [26]:
pd.read_sql('SELECT * FROM %s.%s LIMIT 20' % (database_name,'animelist'), con=conn)

   user_id anime_id rating watching_status watched_episodes
0     None     None   None            None             None
1     None     None   None            None             None
2     None     None   None            None             None
3     None     None   None            None             None
4     None     None   None            None             None
5     None     None   None            None             None
6     None     None   None            None             None
7     None     None   None            None             None
8     None     None   None            None             None
9     None     None   None            None             None
10    None     None   None            None             None
11    None     None   None            None             None
12    None     None   None            None             None
13    None     None   None            None             None
14    None     None   None            None             None
15    None     None   None            None             None
16    None     None   None            None             None
17    None     None   None            None             None
18    None     None   None            None             None
19    None     None   None            None             None

In [27]:
pd.read_sql('DROP TABLE myanimelist.anime', con=conn)

Empty DataFrame
Columns: []
Index: []

In [28]:

anime_table = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         MAL_ID int, Name string, Score int, Genres string, English_name string, Japanese_name string, Type string, 
         Episodes int, Aired string, Premiered string, Producers string, 
         Licensors string, Studios string, Source string, Duration string, Rating string, Ranked int,
         Popularity int, Members int, Favorites int, Watching int, Completed int, 
         On_Hold int, Dropped int, Plan_to_Watch int, 
         Score_10 int, Score_9 int, Score_8 int, Score_7 int, Score_6 int, Score_5 int, Score_4 int, Score_3 int, Score_2 int, Score_1 int
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ( 'skip.header.line.count'='1')""".format(database_name, 'anime', 's3://ads-508-anime/anime/')
pd.read_sql(anime_table, con=conn)

Empty DataFrame
Columns: []
Index: []

In [29]:


df = pd.read_sql(anime_table, conn)
df.head(5)

Empty DataFrame
Columns: []
Index: []

In [30]:
pd.read_sql('SELECT * FROM %s.%s LIMIT 20' % (database_name,'anime'), con=conn)

,mal_id,name,score,genres,english_name,japanese_name,type,episodes,aired,premiered,...,score_10,score_9,score_8,score_7,score_6,score_5,score_4,score_3,score_2,score_1
0,1,Cowboy Bebop,8,"""Action",Adventure,Comedy,Drama,None,"Space""",Cowboy Bebop,...,39.0,1251960.0,61971,105808,718161,71513,26678,329800,229170,182126
1,5,Cowboy Bebop: Tengoku no Tobira,8,"""Action",Drama,Mystery,Sci-Fi,None,Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,...,1174.0,4143.0,208333,1935,770,57964,30043,49201,49505,22632
2,6,Trigun,8,"""Action",Sci-Fi,Adventure,Comedy,None,"Shounen""",Trigun,...,201.0,558913.0,12944,29113,343492,25465,13925,146918,50229,75651
3,7,Witch Hunter Robin,7,"""Action",Mystery,Police,Supernatural,None,"Magic""",Witch Hunter Robin,...,NaN,NaN,2481,1467,94683,587,4300,46165,5121,5378
4,8,Bouken Ou Beet,6,"""Adventure",Fantasy,Shounen,"Supernatural""",None,冒険王ビィト,TV,...,18.0,642.0,7314,766,1108,3394,312,529,1242,1713
5,15,Eyeshield 21,7,"""Action",Sports,Comedy,"Shounen""",None,アイシールド21,TV,...,604.0,1003.0,148259,2066,13907,78349,14228,11573,30202,9226
6,16,Hachimitsu to Clover,8,"""Comedy",Drama,Josei,Romance,None,Honey and Clover,ハチミツとクローバー,...,468.0,687.0,214499,4101,11909,81145,11901,11026,98518,11829
7,17,Hungry Heart: Wild Striker,7,"""Slice of Life",Comedy,Sports,"Shounen""",None,ハングリーハート Wild Striker,TV,...,817.0,13778.0,828,1168,3879,1123,1777,3102,3075,1286
8,18,Initial D Fourth Stage,8,"""Action",Cars,Sports,Drama,None,Unknown,頭文字〈イニシャル〉D FOURTH STAGE,...,117929.0,979.0,6082,90967,3053,1356,16471,10948,15820,22379
9,19,Monster,8,"""Drama",Horror,Mystery,Police,None,Seinen,"Thriller""",...,NaN,30.0,169,614100,29436,64648,214491,47488,23008,264465
10,20,Naruto,7,"""Action",Adventure,Comedy,Super Power,None,"Shounen""",Naruto,...,660.0,8.0,1830540,65586,137167,1462223,61734,99806,69610,216866
11,21,One Piece,8,"""Action",Adventure,Comedy,Super Power,None,Fantasy,"Shounen""",...,NaN,95.0,31,1352724,126645,887333,33,187919,136245,141194
12,22,Tennis no Ouji-sama,7,"""Action",Comedy,Sports,School,None,The Prince of Tennis,テニスの王子様,...,141832.0,3124.0,11235,76881,12905,12516,28295,9576,12719,19791
13,23,Ring ni Kakero 1,6,"""Action",Shounen,"Sports""",Unknown,None,TV,12,...,1333.0,145.0,296,1704,69,61,152,260,236,143
14,24,School Rumble,7,"""Comedy",Romance,School,"Shounen""",None,スクールランブル,TV,...,NaN,NaN,625,514,275464,5137,12277,157789,12856,13491
15,25,Sunabouzu,7,"""Action",Adventure,Comedy,Ecchi,None,"Shounen""",Desert Punk,...,1844.0,1284.0,111734,790,6273,53819,6255,7951,37436,3589
16,26,Texhnolyze,7,"""Action",Sci-Fi,Psychological,"Drama""",None,TEXHNOLYZE,TV,...,896.0,823.0,182599,3671,11335,47532,9815,8112,105805,6856
17,27,Trinity Blood,7,"""Action",Supernatural,"Vampire""",Trinity Blood,None,TV,24,...,87958.0,8940.0,9349,44302,6091,9759,17761,20152,10273,5392
18,28,Yakitate!! Japan,7,"""Comedy","Shounen""",Yakitate!! Japan,焼きたて!! ジャぱん,None,69,"""Oct 12",...,80183.0,887.0,5007,39992,5764,4633,24787,4347,7425,11074
19,29,Zipang,7,"""Action",Military,Sci-Fi,Historical,None,"Seinen""",Unknown,...,3985.0,16652.0,152,857,6807,721,599,7668,430,874

In [31]:
pd.read_sql('SELECT * FROM %s.%s LIMIT 20' % (database_name,'anime'), con=conn)

,mal_id,name,score,genres,english_name,japanese_name,type,episodes,aired,premiered,...,score_10,score_9,score_8,score_7,score_6,score_5,score_4,score_3,score_2,score_1
0,1,Cowboy Bebop,8,"""Action",Adventure,Comedy,Drama,None,"Space""",Cowboy Bebop,...,39.0,1251960.0,61971,105808,718161,71513,26678,329800,229170,182126
1,5,Cowboy Bebop: Tengoku no Tobira,8,"""Action",Drama,Mystery,Sci-Fi,None,Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,...,1174.0,4143.0,208333,1935,770,57964,30043,49201,49505,22632
2,6,Trigun,8,"""Action",Sci-Fi,Adventure,Comedy,None,"Shounen""",Trigun,...,201.0,558913.0,12944,29113,343492,25465,13925,146918,50229,75651
3,7,Witch Hunter Robin,7,"""Action",Mystery,Police,Supernatural,None,"Magic""",Witch Hunter Robin,...,NaN,NaN,2481,1467,94683,587,4300,46165,5121,5378
4,8,Bouken Ou Beet,6,"""Adventure",Fantasy,Shounen,"Supernatural""",None,冒険王ビィト,TV,...,18.0,642.0,7314,766,1108,3394,312,529,1242,1713
5,15,Eyeshield 21,7,"""Action",Sports,Comedy,"Shounen""",None,アイシールド21,TV,...,604.0,1003.0,148259,2066,13907,78349,14228,11573,30202,9226
6,16,Hachimitsu to Clover,8,"""Comedy",Drama,Josei,Romance,None,Honey and Clover,ハチミツとクローバー,...,468.0,687.0,214499,4101,11909,81145,11901,11026,98518,11829
7,17,Hungry Heart: Wild Striker,7,"""Slice of Life",Comedy,Sports,"Shounen""",None,ハングリーハート Wild Striker,TV,...,817.0,13778.0,828,1168,3879,1123,1777,3102,3075,1286
8,18,Initial D Fourth Stage,8,"""Action",Cars,Sports,Drama,None,Unknown,頭文字〈イニシャル〉D FOURTH STAGE,...,117929.0,979.0,6082,90967,3053,1356,16471,10948,15820,22379
9,19,Monster,8,"""Drama",Horror,Mystery,Police,None,Seinen,"Thriller""",...,NaN,30.0,169,614100,29436,64648,214491,47488,23008,264465
10,20,Naruto,7,"""Action",Adventure,Comedy,Super Power,None,"Shounen""",Naruto,...,660.0,8.0,1830540,65586,137167,1462223,61734,99806,69610,216866
11,21,One Piece,8,"""Action",Adventure,Comedy,Super Power,None,Fantasy,"Shounen""",...,NaN,95.0,31,1352724,126645,887333,33,187919,136245,141194
12,22,Tennis no Ouji-sama,7,"""Action",Comedy,Sports,School,None,The Prince of Tennis,テニスの王子様,...,141832.0,3124.0,11235,76881,12905,12516,28295,9576,12719,19791
13,23,Ring ni Kakero 1,6,"""Action",Shounen,"Sports""",Unknown,None,TV,12,...,1333.0,145.0,296,1704,69,61,152,260,236,143
14,24,School Rumble,7,"""Comedy",Romance,School,"Shounen""",None,スクールランブル,TV,...,NaN,NaN,625,514,275464,5137,12277,157789,12856,13491
15,25,Sunabouzu,7,"""Action",Adventure,Comedy,Ecchi,None,"Shounen""",Desert Punk,...,1844.0,1284.0,111734,790,6273,53819,6255,7951,37436,3589
16,26,Texhnolyze,7,"""Action",Sci-Fi,Psychological,"Drama""",None,TEXHNOLYZE,TV,...,896.0,823.0,182599,3671,11335,47532,9815,8112,105805,6856
17,27,Trinity Blood,7,"""Action",Supernatural,"Vampire""",Trinity Blood,None,TV,24,...,87958.0,8940.0,9349,44302,6091,9759,17761,20152,10273,5392
18,28,Yakitate!! Japan,7,"""Comedy","Shounen""",Yakitate!! Japan,焼きたて!! ジャぱん,None,69,"""Oct 12",...,80183.0,887.0,5007,39992,5764,4633,24787,4347,7425,11074
19,29,Zipang,7,"""Action",Military,Sci-Fi,Historical,None,"Seinen""",Unknown,...,3985.0,16652.0,152,857,6807,721,599,7668,430,874

In [32]:
synopsis_table = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         MAL_ID int,
         Name string,
         Score float,
         Genres string,
         sypnopsis string
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(database_name, 'synopsis', 's3://ads-508-anime/synopsis/')
pd.read_sql(synopsis_table, con=conn)

Empty DataFrame
Columns: []
Index: []

In [33]:

df = pd.read_sql(synopsis_table, conn)
df.head(5)

Empty DataFrame
Columns: []
Index: []

In [34]:
pd.read_sql('SELECT * FROM %s.%s LIMIT 20' % (database_name,'synopsis'), con=conn)

,mal_id,name,score,genres,sypnopsis
0,1,Cowboy Bebop,8.78,"""Action",Adventure
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"""Action",Drama
2,6,Trigun,8.24,"""Action",Sci-Fi
3,7,Witch Hunter Robin,7.27,"""Action",Mystery
4,8,Bouken Ou Beet,6.98,"""Adventure",Fantasy
5,15,Eyeshield 21,7.95,"""Action",Sports
6,16,Hachimitsu to Clover,8.06,"""Comedy",Drama
7,17,Hungry Heart: Wild Striker,7.59,"""Slice of Life",Comedy
8,18,Initial D Fourth Stage,8.15,"""Action",Cars
9,19,Monster,8.76,"""Drama",Horror
10,20,Naruto,7.91,"""Action",Adventure
11,21,One Piece,8.52,"""Action",Adventure
12,22,Tennis no Ouji-sama,7.90,"""Action",Comedy
13,23,Ring ni Kakero 1,6.38,"""Action",Shounen
14,24,School Rumble,7.94,"""Comedy",Romance
15,25,Sunabouzu,7.42,"""Action",Adventure
16,26,Texhnolyze,7.76,"""Action",Sci-Fi
17,27,Trinity Blood,7.32,"""Action",Supernatural
18,28,Yakitate!! Japan,7.95,"""Comedy","Shounen"""
19,29,Zipang,7.51,"""Action",Military

In [35]:
pd.read_sql('DROP TABLE myanimelist.ratings', con=conn)

Empty DataFrame
Columns: []
Index: []

In [36]:
rating_table = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         user_id int,
         anime_id int,
         rating int
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(database_name, 'ratings', 's3://ads-508-anime/rating_table/')
pd.read_sql(rating_table, con=conn)

Empty DataFrame
Columns: []
Index: []

In [37]:
pd.read_sql('SELECT * FROM %s.%s LIMIT 20' % (database_name,'ratings'), con=conn)

    user_id  anime_id  rating
0    178516      8440       6
1    178516     11433       8
2    178516     24833       7
3    178516     30654       8
4    178516      1051       7
5    178516      9919       7
6    178516     18893       8
7    178516        54       7
8    178516     14373       7
9    178516     12967       6
10   178516      5342       6
11   178516      6676       7
12   178516     14669       8
13   178516      6347       6
14   178516      5081       8
15   178516      9513       7
16   178516     10218       8
17   178516      8278       7
18   178516      5624       6
19   178516      9544       7

In [38]:
pd.read_sql('DROP TABLE myanimelist.watchingstatus', con=conn)

Empty DataFrame
Columns: []
Index: []

In [39]:
watchlist_table = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         status int,
         description string
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(database_name, 'watchingstatus', 's3://ads-508-anime/watchlist/')
pd.read_sql(watchlist_table, con=conn)

Empty DataFrame
Columns: []
Index: []

In [40]:
pd.read_sql('SELECT * FROM %s.%s LIMIT 20' % (database_name,'watchingstatus'), con=conn)

   status         description
0       1  Currently Watching
1       2           Completed
2       3             On Hold
3       4             Dropped
4       6       Plan to Watch